{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main content for the Home page -->
<div class="container-fluid p-0">
  <div class="full-width-background">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-3 font-weight-bold text-white">Welcome to Nature's Whisper Retreat!</h1>
          <p class="lead text-white">Discover the serenity and beauty of Crater Lakes' finest lodges.</p>
          <hr class="my-4 bg-white">
          <p class="text-white">Start your journey with us today.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>

<main role="main" class="container">
  <!-- Lodge detail section -->
  <section class="my-5">
    <h2>Explore Our Lodges</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="path_to_image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lodge Name</h5>
            <p class="card-text">Lodge details / description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="path_to_image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lodge Name</h5>
            <p class="card-text">Lodge details / description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="path_to_image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lodge Name</h5>
            <p class="card-text">Lodge details / description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</main>
{% endblock %}