{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main content for the Home page -->
<div class="container-fluid p-0">
  <div class="full-width-background">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-3 font-weight-bold text-white">Welcome to Nature's Whisper Retreat!</h1>
          <p class="lead text-white">Discover the serenity and beauty of Crater Lakes' finest lodges.</p>
          <hr class="my-4 bg-white">
          <p class="text-white">Start your journey with us today.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <main role="main" class="container">
    <!-- Lodge detail section -->
    {% include 'home/_lodge_overview.html' %}
  </main>
  {% endblock %}