{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href='https://unpkg.com/@fullcalendar/core@6/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
{% endblock %}


{% block scripts %}
<script>
    window.lodgeId = "{{ lodge.id }}";
</script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Make a Reservation at {{ lodge.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ lodge.image.url }}" alt="{{ lodge.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div id='calendar'></div> <!-- Calendar placeholder -->
            <div class="col-md-6 mb-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>Sleeps up to {{ lodge.sleeps }} guests.</div>
                    <button type="submit" class="btn btn-primary">Book Now</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="lodgeData" data-rate="{{ lodge.rate }}" style="display:none;"></div>

{% endblock %}