{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">
    <h1 class="text-center my-4">Lodge Bookings</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Guest</th>
                <th>Lodge</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.user }}</td>
                <td>{{ reservation.lodge.name }}</td>
                <td>{{ reservation.start_date }}</td>
                <td>{{ reservation.end_date }}</td>
                <td>{{ reservation.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}