{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Main content area -->
<main class="container text-center mt-5" aria-label="Error Page">
    <!-- Header with custom 404 message -->
    <h1 class="display-4 fs-2">404: Oops! Hidden Cabin Discovered.</h1>
    <p class="lead" aria-label="Page Not Found Description">
        Looks like you've wandered off the beaten path and found our secret hideaway!<br>
        This page is more elusive than a whispering willow in the wild.<br>
        Let's trek back to familiar grounds and get you back <a href="{% url 'home' %}" class="alert-link">home</a>.
    </p>
    <!-- 404 image representation -->
    <img src="{% static 'images/404.webp' %}" alt="404 Not Found" class="img-fluid my-4 rounded w-50"
        aria-label="404 Error Image">
    <!-- Link to navigate back to the home page -->
    <p><a href="{% url 'home' %}" class="btn btn-primary btn-lg" aria-label="Return to Home Page">Back to Safety</a></p>
</main>
{% endblock %}